html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    background-color: #101010;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
section, aside, div {
    padding: 20px;
    border-radius: 12px;
  }

  